/*Display flex and orientate display positions start*/
/*justify-content displays at start, middle, end, space-around, space-between*/
/*column*/
.DisplayFlexColumnStretchBottom,
.DisplayFlexColumnLeftBottom,
.DisplayFlexColumnMiddleBottom,
.DisplayFlexColumnRightBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.DisplayFlexColumnStretchMiddle,
.DisplayFlexColumnLeftMiddle,
.DisplayFlexColumnMiddleMiddle,
.DisplayFlexColumnRightMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.DisplayFlexColumnStretchTop,
.DisplayFlexColumnLeftTop,
.DisplayFlexColumnMiddleTop,
.DisplayFlexColumnRightTop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.DisplayFlexColumnStretchSpaceAround,
.DisplayFlexColumnLeftSpaceAround,
.DisplayFlexColumnMiddleSpaceAround,
.DisplayFlexColumnRightSpaceAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.DisplayFlexColumnStretchSpaceBetween,
.DisplayFlexColumnLeftSpaceBetween,
.DisplayFlexColumnMiddleSpaceBetween,
.DisplayFlexColumnRightSpaceBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*column reverse*/
.DisplayFlexColumnReverseStretchBottom,
.DisplayFlexColumnReverseLeftBottom,
.DisplayFlexColumnReverseMiddleBottom,
.DisplayFlexColumnReverseRightBottom {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}
.DisplayFlexColumnReverseStretchMiddle,
.DisplayFlexColumnReverseLeftMiddle,
.DisplayFlexColumnReverseMiddleMiddle,
.DisplayFlexColumnReverseRightMiddle {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.DisplayFlexColumnReverseStretchTop,
.DisplayFlexColumnReverseLeftTop,
.DisplayFlexColumnReverseMiddleTop,
.DisplayFlexColumnReverseRightTop {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}
.DisplayFlexColumnReverseStretchSpaceAround,
.DisplayFlexColumnReverseLeftSpaceAround,
.DisplayFlexColumnReverseMiddleSpaceAround,
.DisplayFlexColumnReverseRightSpaceAround {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}
.DisplayFlexColumnReverseStretchSpaceBetween,
.DisplayFlexColumnReverseLeftSpaceBetween,
.DisplayFlexColumnReverseMiddleSpaceBetween,
.DisplayFlexColumnReverseRightSpaceBetween {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

/*row*/

.DisplayFlexRowRightStretch,
.DisplayFlexRowRightTop,
.DisplayFlexRowRightMiddle,
.DisplayFlexRowRightBottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.DisplayFlexRowMiddleStretch,
.DisplayFlexRowMiddleTop,
.DisplayFlexRowMiddleMiddle,
.DisplayFlexRowMiddleBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.DisplayFlexRowLeftStretch,
.DisplayFlexRowLeftTop,
.DisplayFlexRowLeftMiddle,
.DisplayFlexRowLeftBottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.DisplayFlexRowSpaceAroundStretch,
.DisplayFlexRowSpaceAroundTop,
.DisplayFlexRowSpaceAroundMiddle,
.DisplayFlexRowSpaceAroundBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.DisplayFlexRowSpaceBetweenStretch,
.DisplayFlexRowSpaceBetweenTop,
.DisplayFlexRowSpaceBetweenMiddle,
.DisplayFlexRowSpaceBetweenBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*row reverse*/
.DisplayFlexRowReverseRightStretch,
.DisplayFlexRowReverseRightTop,
.DisplayFlexRowReverseRightMiddle,
.DisplayFlexRowReverseRightBottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.DisplayFlexRowReverseMiddleStretch,
.DisplayFlexRowReverseMiddleTop,
.DisplayFlexRowReverseMiddleMiddle,
.DisplayFlexRowReverseMiddleBottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.DisplayFlexRowReverseLeftStretch,
.DisplayFlexRowReverseLeftTop,
.DisplayFlexRowReverseLeftMiddle,
.DisplayFlexRowReverseLeftBottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.DisplayFlexRowReverseSpaceAroundStretch,
.DisplayFlexRowReverseSpaceAroundTop,
.DisplayFlexRowReverseSpaceAroundMiddle,
.DisplayFlexRowReverseSpaceAroundBottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.DisplayFlexRowReverseSpaceBetweenStretch,
.DisplayFlexRowReverseSpaceBetweenTop,
.DisplayFlexRowReverseSpaceBetweenMiddle,
.DisplayFlexRowReverseSpaceBetweenBottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
/*align column row*/
.DisplayFlexColumnReverseLeftBottom > *,
.DisplayFlexColumnReverseLeftMiddle > *,
.DisplayFlexColumnReverseLeftTop > *,
.DisplayFlexColumnReverseLeftSpaceAround > *,
.DisplayFlexColumnReverseLeftSpaceBetween > *,
.DisplayFlexColumnLeftBottom > *,
.DisplayFlexColumnLeftMiddle > *,
.DisplayFlexColumnLeftTop > *,
.DisplayFlexColumnLeftSpaceAround > *,
.DisplayFlexColumnLeftSpaceBetween > *,
.DisplayFlexRowReverseLeftTop > *,
.DisplayFlexRowReverseMiddleTop > *,
.DisplayFlexRowReverseRightTop > *,
.DisplayFlexRowReverseSpaceAroundTop > *,
.DisplayFlexRowReverseSpaceBetweenTop > *,
.DisplayFlexRowLeftTop > *,
.DisplayFlexRowMiddleTop > *,
.DisplayFlexRowRightTop > *,
.DisplayFlexRowSpaceAroundTop > *,
.DisplayFlexRowSpaceBetweenTop > * {
  align-self: flex-start;
}
.DisplayFlexColumnReverseMiddleBottom > *,
.DisplayFlexColumnReverseMiddleMiddle > *,
.DisplayFlexColumnReverseMiddleTop > *,
.DisplayFlexColumnReverseMiddleSpaceAround > *,
.DisplayFlexColumnReverseMiddleSpaceBetween > *,
.DisplayFlexColumnMiddleBottom > *,
.DisplayFlexColumnMiddleMiddle > *,
.DisplayFlexColumnMiddleTop > *,
.DisplayFlexColumnMiddleSpaceAround > *,
.DisplayFlexColumnMiddleSpaceBetween > *,
.DisplayFlexRowReverseLeftMiddle > *,
.DisplayFlexRowReverseMiddleMiddle > *,
.DisplayFlexRowReverseRightMiddle > *,
.DisplayFlexRowReverseSpaceAroundMiddle > *,
.DisplayFlexRowReverseSpaceBetweenMiddle > *,
.DisplayFlexRowLeftMiddle > *,
.DisplayFlexRowMiddleMiddle > *,
.DisplayFlexRowRightMiddle > *,
.DisplayFlexRowSpaceAroundMiddle > *,
.DisplayFlexRowSpaceBetweenMiddle > * {
  align-self: center;
}
.DisplayFlexColumnReverseRightBottom > *,
.DisplayFlexColumnReverseRightMiddle > *,
.DisplayFlexColumnReverseRightTop > *,
.DisplayFlexColumnReverseRightSpaceAround > *,
.DisplayFlexColumnReverseRightSpaceBetween > *,
.DisplayFlexColumnRightBottom > *,
.DisplayFlexColumnRightMiddle > *,
.DisplayFlexColumnRightTop > *,
.DisplayFlexColumnRightSpaceAround > *,
.DisplayFlexColumnRightSpaceBetween > *,
.DisplayFlexRowReverseLeftBottom > *,
.DisplayFlexRowReverseMiddleBottom > *,
.DisplayFlexRowReverseRightBottom > *,
.DisplayFlexRowReverseSpaceAroundBottom > *,
.DisplayFlexRowReverseSpaceBetweenBottom > *,
.DisplayFlexRowLeftBottom > *,
.DisplayFlexRowMiddleBottom > *,
.DisplayFlexRowRightBottom > *,
.DisplayFlexRowSpaceAroundBottom > *,
.DisplayFlexRowSpaceBetweenBottom > * {
  align-self: flex-end;
}

.DisplayFlexRowReverseSpaceBetweenStretch > *,
.DisplayFlexRowReverseSpaceAroundStretch > *,
.DisplayFlexRowReverseLeftStretch > *,
.DisplayFlexRowReverseMiddleStretch > *,
.DisplayFlexRowReverseRightStretch > *,
.DisplayFlexRowSpaceBetweenStretch > *,
.DisplayFlexRowSpaceAroundStretch > *,
.DisplayFlexRowLeftStretch > *,
.DisplayFlexRowMiddleStretch > *,
.DisplayFlexRowRightStretch > * {
  align-self: stretch;
  width: 100%;
}

.DisplayFlexColumnReverseStretchSpaceBetween > *,
.DisplayFlexColumnReverseStretchSpaceAround > *,
.DisplayFlexColumnReverseStretchTop > *,
.DisplayFlexColumnReverseStretchMiddle > *,
.DisplayFlexColumnReverseStretchBottom > *,
.DisplayFlexColumnStretchSpaceBetween > *,
.DisplayFlexColumnStretchSpaceAround > *,
.DisplayFlexColumnStretchTop > *,
.DisplayFlexColumnStretchMiddle > *,
.DisplayFlexColumnStretchBottom > * {
  align-self: stretch;
  height: 100%;
}

.flexwrap {
  flex-wrap: wrap;
}
/*Display flex and orientate display positions end*/
