:root {
  --whiteoff: #d1d1d1;
  --black: #1e1e24;
  --brownlighter: #e0afa0;
  --brown: #5e4848;
  --white: #ffffff;
}
main,
html,
body {
  font-family: "Inknut Antiqua", "Inter", "Times New Roman", Times, serif;
}
main > * {
  border: solid 1px var(--black);
  width: 80%;
  aspect-ratio: 1 / 1;
  align-items: stretch;
}
main .dark {
  background-color: var(--brown);
  color: var(--white);
}

main .light {
  background-color: var(--whiteoff);
  color: var(--black);
}
